@model Mamma_Pasta.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>
<br />
<h4>Cliente</h4>
<hr />
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-3">
                    <label asp-for="Nombre" class="col-sm-3 col-form-label">Nombre:</label>
                    <div class="col-sm-9">
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Telefono" class="col-sm-3 col-form-label">Telefono:</label>
                    <div class="col-sm-9">
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Direccion" class="col-sm-3 col-form-label">Direccion:</label>
                    <div class="col-sm-9">
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="TipoDePagoId" class="col-sm-3 col-form-label">Tipo:</label>
                    <div class="col-sm-9">
                        <select asp-for="TipoDePagoId" class="form-control" asp-items="ViewBag.TipoDePagoId"></select>
                    </div>
                </div>
                <div class="d-grid">
                    <input type="submit" value="Crear" class="btn btn-warning btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
