@model Mamma_Pasta.Models.TipoProducto

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>
<br />
<h4>Nuevo Tipo de Producto</h4>
<hr />

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
           

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <!-- Campo para el nombre del tipo de producto -->
                <div class="row mb-3">
                    <label asp-for="Tipo" class="col-sm-3 col-form-label">Nombre del Tipo:</label>
                    <div class="col-sm-9">
                        <input asp-for="Tipo" class="form-control"/>
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>                    
                </div>

                <!-- Botón de envío -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-warning btn-block">Crear</button>
                </div>
            </form>
        </div>       
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
