@model Mamma_Pasta.Models.TipoDePago

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<br />
<h4>TipoDePago</h4>
<hr />

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row mb-3">
                    <label asp-for="Tipo" class="col-sm-3 col-form-label">Nombre del Tipo:</label>
                    <div class="col-sm-9">
                        <input asp-for="Tipo" class="form-control" />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-warning btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
